.selectTable {
  border: 1px solid #198754;
  border-collapse: collapse;
}

td {
  border: 1px solid #198754;
  width: 30px;
  height: 30px;
}
.d-flex .time {
  text-align: center;
}
#palette {
  width: 128px;
  height: 128px;
}

#bar {
  width: 20px;
  height: 128px;
}
.cont-right {
  float: right;
  box-sizing: border-box;
  width: 30%;
  padding-left: 5%;
  margin-bottom: 10%;
}
.cont-left {
  float: left;
  box-sizing: border-box;
  width: 70%;
  padding-left: 5%;
  margin-bottom: 10%;
}

.task_table {
  margin-top: 10%;
}
.taskheader {
  width: calc(100% / 7.5);
}
.course {
  width: 300px;
}
.task {
  width: 500px;
}
.check {
  width: 100px;
}

.task_sub {
  border: none;
  background: transparent;
}
.container {
  width: 640px;
  float: left;
}
/* The side navigation menu */
.sidenav {
      height: 30%;
      /* 100% Full-height */
      width: 0;
      /* 0 width - change this with JavaScript */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Stay on top */
      top: 0;
      /* Stay at the top */
      right: 0;
      background-color: #fcfcfc;
      /* Black*/
      overflow-x: hidden;
      /* Disable horizontal scroll */
      padding-top: 60px;
     
      /* Place content 60px from the top */
      transition: 0.5s;
      /* 0.5 second transition effect to slide in the sidenav */
  }

  /* The navigation menu links */
  .sidenav td {
      border: 1px solid #198754;
      width: 30px;
      height: 30px;
      transition: 0.3s;
      
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
      color: #faf1d6;
  }

  

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 20px;
      font-size: 36px;
      margin-left: 50px;
      color: #198754;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  /*#main {
      transition: margin-left .5s;
      padding: 20px;
  }
*/
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
      .sidenav {
          padding-top: 15px;
         
      }

      .sidenav a {
          font-size: 18px;
      }
  }
